@font-face { 
    font-family: "SmoochSans"; 
    src: url("fonts/SmoochSans-VariableFont_wght.ttf"); 
    }
@font-face { 
    font-family: "SmoochSans-Light"; 
    src: url("fonts/SmoochSans-Light.ttf"); 
    }
@font-face { 
    font-family: "SmoochSans-Thin"; 
    src: url("fonts/SmoochSans-Thin.ttf"); 
    }
@font-face { 
    font-family: "SmoochSans-Regular"; 
    src: url("fonts/SmoochSans-Regular.ttf"); 
    }
@keyframes bounce{
    0%{
        bottom: 130px;
        scale: 100%;
    }
    25%{
        bottom: 150px;
        scale: 110%;
    }
    50%{
        bottom: 130px;
        scale: 100%;
    }
    75%{
        bottom: 150px;
        scale: 105%;
    }
    100%{
        bottom: 130px;
        scale: 100%;
    }
    }
body{
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'SmoochSans-Thin';
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/background/FrontBackground.png');
}
canvas{
    position: absolute;
    background-color: black;
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
    border: 2px solid black;
}
h1{
    font-size: 70px;
    text-shadow: 0px 0px 10px #ffffff;
} 
.dNone{
    display: none !important;
}
.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 480px;
}
.wrapper h2{
    position: absolute;
    font-size: 90px;
    justify-content: center;
    align-items: center;
    width: 350px;
}
.fullscreen{
    position: absolute;
    z-index: 10;
    background-color: transparent;
    border: transparent;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.fullscreen img{
    height: 40px;
}
#content{
    width: 720px;
    height: 480px;
}
.coverImage{
    position: absolute;
    z-index: 1;
    width: 720px;
    height: 480px;
}
.playButton{
    position: absolute;
    z-index: 2;
    background-color: transparent;border: 2px solid white;
    color: #ffffff;
    width: 150px;
    height: 70px;
    border-radius: 30px;
    font-family: 'SmoochSans-Thin';
    font-size: 50px;
    cursor: pointer;
}
.playButton:hover{
    box-shadow: 0px 0px 10px rgb(255, 255, 255), inset 0px 0px 10px rgb(255, 255, 255) ;
}
.startButton{
    position: absolute;
    z-index: 2;
    background-color: transparent;border: 2px solid white;
    color: #ffffff;
    width: 150px;
    height: 50px;
    top: 150px;
    border-radius: 30px;
    font-family: 'SmoochSans-Thin';
    font-size: 30px;
    cursor: pointer;
}
.startButton:hover{
    box-shadow: 0px 0px 10px rgb(255, 255, 255), inset 0px 0px 10px rgb(255, 255, 255) ;
}
.selectscreen{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 480px;
}
.selectscreen h2{
    position: absolute;
    font-size: 50px;
    width: 300px;
    top: 30px;
}
.selectBG{
    position: absolute;
    z-index: -1;
    width: 720px;
    height: 480px;
}
.selectArrow{
    position: absolute;
    width: 63px;
    height: 100px;
    bottom: 130px;
    animation-timing-function: ease-in-out;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.selectCharacter{
    position: absolute;
    cursor: pointer;
    bottom: 34px;
    width: 160px;
    height: 160px;
}
.overlay{
    position: absolute;
    z-index: 10;
    height: 480px;
    width: 720px;
    align-items: end;
    justify-content: space-between;
    display: flex;
}
.p50l{
    left: 110px; 
}
.p50r{
    right: 110px;
}
.p60l{
    left: 160px; 
}
.p60r{
    right: 160px;
}